/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h1,
h2,
a {
	color: #ff7a2d;
}
h3 {
    color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #fff;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
    background-color: #ff7a2d;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
    background-image: url(images/city2.jpg) no-repeat center;
    background-size: cover;
	padding: 100px 100px;
	margin-bottom: 48px;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 1em 0;
	margin-top: 30px;
    font-style: italic;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
    border-radius: 50%;
    border: white solid 3px;
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.6);
    
}
.logo:hover {
    transform: scale(1.5);
    transition: .7s;
    -webkit-transform: scale(1.2);
}
.headline {
	margin-bottom: 0;
    border-bottom: 3px solid;
}
.headline,
.tagline {
     font-size: 5vw;
     font-family: 'Russo One', sans-serif;
     color: #fff;
    
}
.feat-img {
	border-radius: 5px;
}

.primary,
.secondary {
    text-align: center;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.3em;
	}
}
@media (min-width: 1025px) {
	.row {
		width: 100%;
		max-width: 1150px;
	}
}
